--
-- PostgreSQL database dump
--

\restrict VvOedDTG2VCaKpn6bZqez8hagNG9Wx8oiy56cQPkXCCw5f4Dfe2EhVgtLqovdO9

-- Dumped from database version 16.12 (Debian 16.12-1.pgdg13+1)
-- Dumped by pg_dump version 16.12 (Debian 16.12-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: medio_pago; Type: TYPE; Schema: public; Owner: odonto
--

CREATE TYPE public.medio_pago AS ENUM (
    'efectivo',
    'tarjeta',
    'transferencia',
    'obra_social'
);


ALTER TYPE public.medio_pago OWNER TO odonto;

--
-- Name: mediopago; Type: TYPE; Schema: public; Owner: odonto
--

CREATE TYPE public.mediopago AS ENUM (
    'efectivo',
    'tarjeta',
    'transferencia',
    'obra_social'
);


ALTER TYPE public.mediopago OWNER TO odonto;

--
-- Name: odontograma_estado; Type: TYPE; Schema: public; Owner: odonto
--

CREATE TYPE public.odontograma_estado AS ENUM (
    'sano',
    'caries',
    'ausente',
    'tratado',
    'otro'
);


ALTER TYPE public.odontograma_estado OWNER TO odonto;

--
-- Name: pago_estado; Type: TYPE; Schema: public; Owner: odonto
--

CREATE TYPE public.pago_estado AS ENUM (
    'pagado',
    'pendiente'
);


ALTER TYPE public.pago_estado OWNER TO odonto;

--
-- Name: pagoestado; Type: TYPE; Schema: public; Owner: odonto
--

CREATE TYPE public.pagoestado AS ENUM (
    'pagado',
    'pendiente'
);


ALTER TYPE public.pagoestado OWNER TO odonto;

--
-- Name: sexo_paciente; Type: TYPE; Schema: public; Owner: odonto
--

CREATE TYPE public.sexo_paciente AS ENUM (
    'M',
    'F',
    'X'
);


ALTER TYPE public.sexo_paciente OWNER TO odonto;

--
-- Name: tratamiento_estado; Type: TYPE; Schema: public; Owner: odonto
--

CREATE TYPE public.tratamiento_estado AS ENUM (
    'pendiente',
    'realizado',
    'cancelado'
);


ALTER TYPE public.tratamiento_estado OWNER TO odonto;

--
-- Name: tratamientoestado; Type: TYPE; Schema: public; Owner: odonto
--

CREATE TYPE public.tratamientoestado AS ENUM (
    'pendiente',
    'realizado',
    'cancelado'
);


ALTER TYPE public.tratamientoestado OWNER TO odonto;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: odonto
--

CREATE TYPE public.user_role AS ENUM (
    'admin',
    'odontologo',
    'recepcion'
);


ALTER TYPE public.user_role OWNER TO odonto;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: consultorios; Type: TABLE; Schema: public; Owner: odonto
--

CREATE TABLE public.consultorios (
    id integer NOT NULL,
    nombre character varying(120) NOT NULL,
    direccion character varying(255),
    telefono character varying(40),
    email character varying(255),
    activo boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.consultorios OWNER TO odonto;

--
-- Name: consultorios_id_seq; Type: SEQUENCE; Schema: public; Owner: odonto
--

CREATE SEQUENCE public.consultorios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.consultorios_id_seq OWNER TO odonto;

--
-- Name: consultorios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: odonto
--

ALTER SEQUENCE public.consultorios_id_seq OWNED BY public.consultorios.id;


--
-- Name: historias_clinicas; Type: TABLE; Schema: public; Owner: odonto
--

CREATE TABLE public.historias_clinicas (
    id integer NOT NULL,
    consultorio_id integer NOT NULL,
    paciente_id integer NOT NULL,
    motivo_consulta text,
    diagnostico_general text,
    plan_tratamiento text,
    observaciones text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.historias_clinicas OWNER TO odonto;

--
-- Name: historias_clinicas_id_seq; Type: SEQUENCE; Schema: public; Owner: odonto
--

CREATE SEQUENCE public.historias_clinicas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.historias_clinicas_id_seq OWNER TO odonto;

--
-- Name: historias_clinicas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: odonto
--

ALTER SEQUENCE public.historias_clinicas_id_seq OWNED BY public.historias_clinicas.id;


--
-- Name: odontogramas; Type: TABLE; Schema: public; Owner: odonto
--

CREATE TABLE public.odontogramas (
    id integer NOT NULL,
    consultorio_id integer NOT NULL,
    paciente_id integer NOT NULL,
    pieza character varying(10) NOT NULL,
    estado public.odontograma_estado DEFAULT 'otro'::public.odontograma_estado NOT NULL,
    observaciones text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.odontogramas OWNER TO odonto;

--
-- Name: odontogramas_id_seq; Type: SEQUENCE; Schema: public; Owner: odonto
--

CREATE SEQUENCE public.odontogramas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.odontogramas_id_seq OWNER TO odonto;

--
-- Name: odontogramas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: odonto
--

ALTER SEQUENCE public.odontogramas_id_seq OWNED BY public.odontogramas.id;


--
-- Name: odontologos; Type: TABLE; Schema: public; Owner: odonto
--

CREATE TABLE public.odontologos (
    id integer NOT NULL,
    consultorio_id integer NOT NULL,
    nombre character varying(120) NOT NULL,
    apellido character varying(120) NOT NULL,
    matricula character varying(60),
    especialidad character varying(120),
    activo boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.odontologos OWNER TO odonto;

--
-- Name: odontologos_id_seq; Type: SEQUENCE; Schema: public; Owner: odonto
--

CREATE SEQUENCE public.odontologos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.odontologos_id_seq OWNER TO odonto;

--
-- Name: odontologos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: odonto
--

ALTER SEQUENCE public.odontologos_id_seq OWNED BY public.odontologos.id;


--
-- Name: pacientes; Type: TABLE; Schema: public; Owner: odonto
--

CREATE TABLE public.pacientes (
    id integer NOT NULL,
    consultorio_id integer NOT NULL,
    nombre character varying(120) NOT NULL,
    apellido character varying(120) NOT NULL,
    dni character varying(20),
    fecha_nacimiento date,
    sexo public.sexo_paciente,
    telefono character varying(40),
    email character varying(255),
    direccion character varying(255),
    ciudad character varying(120),
    provincia character varying(120),
    grupo_sanguineo character varying(5),
    alergias text,
    enfermedades_previas text,
    medicacion_actual text,
    observaciones text,
    obra_social character varying(120),
    numero_afiliado character varying(60),
    responsable_legal character varying(120),
    telefono_responsable character varying(40),
    activo boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.pacientes OWNER TO odonto;

--
-- Name: pacientes_id_seq; Type: SEQUENCE; Schema: public; Owner: odonto
--

CREATE SEQUENCE public.pacientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pacientes_id_seq OWNER TO odonto;

--
-- Name: pacientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: odonto
--

ALTER SEQUENCE public.pacientes_id_seq OWNED BY public.pacientes.id;


--
-- Name: pagos; Type: TABLE; Schema: public; Owner: odonto
--

CREATE TABLE public.pagos (
    id integer NOT NULL,
    consultorio_id integer NOT NULL,
    monto numeric(12,2) NOT NULL,
    medio_pago public.medio_pago NOT NULL,
    estado public.pago_estado DEFAULT 'pagado'::public.pago_estado NOT NULL,
    fecha_pago date,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    tratamiento_realizado_id integer NOT NULL
);


ALTER TABLE public.pagos OWNER TO odonto;

--
-- Name: pagos_id_seq; Type: SEQUENCE; Schema: public; Owner: odonto
--

CREATE SEQUENCE public.pagos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pagos_id_seq OWNER TO odonto;

--
-- Name: pagos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: odonto
--

ALTER SEQUENCE public.pagos_id_seq OWNED BY public.pagos.id;


--
-- Name: tratamientos_catalogo; Type: TABLE; Schema: public; Owner: odonto
--

CREATE TABLE public.tratamientos_catalogo (
    id integer NOT NULL,
    consultorio_id integer NOT NULL,
    nombre character varying(160) NOT NULL,
    descripcion text,
    precio_base numeric(12,2),
    duracion_estimada integer,
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.tratamientos_catalogo OWNER TO odonto;

--
-- Name: tratamientos_catalogo_id_seq; Type: SEQUENCE; Schema: public; Owner: odonto
--

CREATE SEQUENCE public.tratamientos_catalogo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tratamientos_catalogo_id_seq OWNER TO odonto;

--
-- Name: tratamientos_catalogo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: odonto
--

ALTER SEQUENCE public.tratamientos_catalogo_id_seq OWNED BY public.tratamientos_catalogo.id;


--
-- Name: tratamientos_realizados; Type: TABLE; Schema: public; Owner: odonto
--

CREATE TABLE public.tratamientos_realizados (
    id integer NOT NULL,
    consultorio_id integer NOT NULL,
    paciente_id integer NOT NULL,
    odontologo_id integer NOT NULL,
    turno_id integer,
    tratamiento_id integer NOT NULL,
    pieza_dental character varying(10),
    precio numeric(12,2),
    estado public.tratamiento_estado DEFAULT 'pendiente'::public.tratamiento_estado NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    fecha_inicio date DEFAULT CURRENT_DATE,
    fecha_finalizacion date,
    observaciones text,
    descuento numeric(12,2) DEFAULT 0
);


ALTER TABLE public.tratamientos_realizados OWNER TO odonto;

--
-- Name: tratamientos_realizados_id_seq; Type: SEQUENCE; Schema: public; Owner: odonto
--

CREATE SEQUENCE public.tratamientos_realizados_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tratamientos_realizados_id_seq OWNER TO odonto;

--
-- Name: tratamientos_realizados_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: odonto
--

ALTER SEQUENCE public.tratamientos_realizados_id_seq OWNED BY public.tratamientos_realizados.id;


--
-- Name: turnos; Type: TABLE; Schema: public; Owner: odonto
--

CREATE TABLE public.turnos (
    id integer NOT NULL,
    consultorio_id integer NOT NULL,
    paciente_id integer NOT NULL,
    odontologo_id integer NOT NULL,
    fecha date NOT NULL,
    hora_inicio time without time zone NOT NULL,
    duracion_min integer NOT NULL,
    estado character varying(20) NOT NULL
);


ALTER TABLE public.turnos OWNER TO odonto;

--
-- Name: turnos_id_seq; Type: SEQUENCE; Schema: public; Owner: odonto
--

CREATE SEQUENCE public.turnos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.turnos_id_seq OWNER TO odonto;

--
-- Name: turnos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: odonto
--

ALTER SEQUENCE public.turnos_id_seq OWNED BY public.turnos.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: odonto
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    consultorio_id integer NOT NULL,
    nombre character varying(120) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash text NOT NULL,
    rol public.user_role NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.usuarios OWNER TO odonto;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: odonto
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_seq OWNER TO odonto;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: odonto
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: consultorios id; Type: DEFAULT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.consultorios ALTER COLUMN id SET DEFAULT nextval('public.consultorios_id_seq'::regclass);


--
-- Name: historias_clinicas id; Type: DEFAULT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.historias_clinicas ALTER COLUMN id SET DEFAULT nextval('public.historias_clinicas_id_seq'::regclass);


--
-- Name: odontogramas id; Type: DEFAULT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.odontogramas ALTER COLUMN id SET DEFAULT nextval('public.odontogramas_id_seq'::regclass);


--
-- Name: odontologos id; Type: DEFAULT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.odontologos ALTER COLUMN id SET DEFAULT nextval('public.odontologos_id_seq'::regclass);


--
-- Name: pacientes id; Type: DEFAULT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.pacientes ALTER COLUMN id SET DEFAULT nextval('public.pacientes_id_seq'::regclass);


--
-- Name: pagos id; Type: DEFAULT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.pagos ALTER COLUMN id SET DEFAULT nextval('public.pagos_id_seq'::regclass);


--
-- Name: tratamientos_catalogo id; Type: DEFAULT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.tratamientos_catalogo ALTER COLUMN id SET DEFAULT nextval('public.tratamientos_catalogo_id_seq'::regclass);


--
-- Name: tratamientos_realizados id; Type: DEFAULT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.tratamientos_realizados ALTER COLUMN id SET DEFAULT nextval('public.tratamientos_realizados_id_seq'::regclass);


--
-- Name: turnos id; Type: DEFAULT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.turnos ALTER COLUMN id SET DEFAULT nextval('public.turnos_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: consultorios; Type: TABLE DATA; Schema: public; Owner: odonto
--

COPY public.consultorios (id, nombre, direccion, telefono, email, activo, created_at) FROM stdin;
1	Consultorio Central	\N	\N	\N	t	2026-02-26 23:16:17.183918+00
\.


--
-- Data for Name: historias_clinicas; Type: TABLE DATA; Schema: public; Owner: odonto
--

COPY public.historias_clinicas (id, consultorio_id, paciente_id, motivo_consulta, diagnostico_general, plan_tratamiento, observaciones, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: odontogramas; Type: TABLE DATA; Schema: public; Owner: odonto
--

COPY public.odontogramas (id, consultorio_id, paciente_id, pieza, estado, observaciones, created_at) FROM stdin;
\.


--
-- Data for Name: odontologos; Type: TABLE DATA; Schema: public; Owner: odonto
--

COPY public.odontologos (id, consultorio_id, nombre, apellido, matricula, especialidad, activo, created_at) FROM stdin;
1	1	Carlos	Gomez	MP1234	Ortodoncia	t	2026-02-26 23:18:21.723628+00
2	1	Cinthia	Ricail	321	Implantes	t	2026-02-26 23:21:19.668051+00
3	1	asq	asd	asd	asd	f	2026-02-26 23:43:59.378091+00
\.


--
-- Data for Name: pacientes; Type: TABLE DATA; Schema: public; Owner: odonto
--

COPY public.pacientes (id, consultorio_id, nombre, apellido, dni, fecha_nacimiento, sexo, telefono, email, direccion, ciudad, provincia, grupo_sanguineo, alergias, enfermedades_previas, medicacion_actual, observaciones, obra_social, numero_afiliado, responsable_legal, telefono_responsable, activo, created_at, updated_at) FROM stdin;
1	1	Javier	Silva	321	\N	\N	321	asd@asd.com	\N	\N	\N	\N	\N	\N	\N	\N			\N	\N	t	2026-02-26 23:23:33.745616+00	2026-02-26 23:23:33.745616+00
\.


--
-- Data for Name: pagos; Type: TABLE DATA; Schema: public; Owner: odonto
--

COPY public.pagos (id, consultorio_id, monto, medio_pago, estado, fecha_pago, created_at, tratamiento_realizado_id) FROM stdin;
\.


--
-- Data for Name: tratamientos_catalogo; Type: TABLE DATA; Schema: public; Owner: odonto
--

COPY public.tratamientos_catalogo (id, consultorio_id, nombre, descripcion, precio_base, duracion_estimada, activo) FROM stdin;
1	1	Endodoncia	Tratamiento de conducto	50000.00	60	t
\.


--
-- Data for Name: tratamientos_realizados; Type: TABLE DATA; Schema: public; Owner: odonto
--



--
-- Data for Name: turnos; Type: TABLE DATA; Schema: public; Owner: odonto
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: odonto
--

COPY public.usuarios (id, consultorio_id, nombre, email, password_hash, rol, activo, created_at) FROM stdin;
1	1	Administrador	admin@odonto.local	$pbkdf2-sha256$29000$955zLqVUirH2nrNWSmltzQ$Ct5NIioq1bnD.Fiwzetsclbuznpk2YIE2DN7JNEsFxg	admin	t	2026-02-26 23:16:17.197653+00
\.


--
-- Name: consultorios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: odonto
--

SELECT pg_catalog.setval('public.consultorios_id_seq', 1, true);


--
-- Name: historias_clinicas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: odonto
--

SELECT pg_catalog.setval('public.historias_clinicas_id_seq', 1, false);


--
-- Name: odontogramas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: odonto
--

SELECT pg_catalog.setval('public.odontogramas_id_seq', 1, false);


--
-- Name: odontologos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: odonto
--

SELECT pg_catalog.setval('public.odontologos_id_seq', 3, true);


--
-- Name: pacientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: odonto
--

SELECT pg_catalog.setval('public.pacientes_id_seq', 1, true);


--
-- Name: pagos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: odonto
--

SELECT pg_catalog.setval('public.pagos_id_seq', 1, false);


--
-- Name: tratamientos_catalogo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: odonto
--

SELECT pg_catalog.setval('public.tratamientos_catalogo_id_seq', 1, true);


--
-- Name: tratamientos_realizados_id_seq; Type: SEQUENCE SET; Schema: public; Owner: odonto
--

SELECT pg_catalog.setval('public.tratamientos_realizados_id_seq', 52, true);


--
-- Name: turnos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: odonto
--

SELECT pg_catalog.setval('public.turnos_id_seq', 109, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: odonto
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 1, true);


--
-- Name: consultorios consultorios_pkey; Type: CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.consultorios
    ADD CONSTRAINT consultorios_pkey PRIMARY KEY (id);


--
-- Name: historias_clinicas historias_clinicas_pkey; Type: CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.historias_clinicas
    ADD CONSTRAINT historias_clinicas_pkey PRIMARY KEY (id);


--
-- Name: odontogramas odontogramas_pkey; Type: CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.odontogramas
    ADD CONSTRAINT odontogramas_pkey PRIMARY KEY (id);


--
-- Name: odontologos odontologos_pkey; Type: CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.odontologos
    ADD CONSTRAINT odontologos_pkey PRIMARY KEY (id);


--
-- Name: pacientes pacientes_pkey; Type: CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.pacientes
    ADD CONSTRAINT pacientes_pkey PRIMARY KEY (id);


--
-- Name: pagos pagos_pkey; Type: CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT pagos_pkey PRIMARY KEY (id);


--
-- Name: tratamientos_catalogo tratamientos_catalogo_pkey; Type: CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.tratamientos_catalogo
    ADD CONSTRAINT tratamientos_catalogo_pkey PRIMARY KEY (id);


--
-- Name: tratamientos_realizados tratamientos_realizados_pkey; Type: CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.tratamientos_realizados
    ADD CONSTRAINT tratamientos_realizados_pkey PRIMARY KEY (id);


--
-- Name: turnos turnos_pkey; Type: CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.turnos
    ADD CONSTRAINT turnos_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: ix_consultorios_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_consultorios_id ON public.consultorios USING btree (id);


--
-- Name: ix_historias_clinicas_consultorio_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_historias_clinicas_consultorio_id ON public.historias_clinicas USING btree (consultorio_id);


--
-- Name: ix_historias_clinicas_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_historias_clinicas_id ON public.historias_clinicas USING btree (id);


--
-- Name: ix_historias_clinicas_paciente_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_historias_clinicas_paciente_id ON public.historias_clinicas USING btree (paciente_id);


--
-- Name: ix_odontogramas_consultorio_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_odontogramas_consultorio_id ON public.odontogramas USING btree (consultorio_id);


--
-- Name: ix_odontogramas_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_odontogramas_id ON public.odontogramas USING btree (id);


--
-- Name: ix_odontogramas_paciente_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_odontogramas_paciente_id ON public.odontogramas USING btree (paciente_id);


--
-- Name: ix_odontologos_consultorio_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_odontologos_consultorio_id ON public.odontologos USING btree (consultorio_id);


--
-- Name: ix_odontologos_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_odontologos_id ON public.odontologos USING btree (id);


--
-- Name: ix_pacientes_consultorio_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_pacientes_consultorio_id ON public.pacientes USING btree (consultorio_id);


--
-- Name: ix_pacientes_dni; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_pacientes_dni ON public.pacientes USING btree (dni);


--
-- Name: ix_pacientes_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_pacientes_id ON public.pacientes USING btree (id);


--
-- Name: ix_pagos_consultorio_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_pagos_consultorio_id ON public.pagos USING btree (consultorio_id);


--
-- Name: ix_pagos_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_pagos_id ON public.pagos USING btree (id);


--
-- Name: ix_tratamientos_catalogo_consultorio_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_tratamientos_catalogo_consultorio_id ON public.tratamientos_catalogo USING btree (consultorio_id);


--
-- Name: ix_tratamientos_catalogo_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_tratamientos_catalogo_id ON public.tratamientos_catalogo USING btree (id);


--
-- Name: ix_tratamientos_realizados_consultorio_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_tratamientos_realizados_consultorio_id ON public.tratamientos_realizados USING btree (consultorio_id);


--
-- Name: ix_tratamientos_realizados_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_tratamientos_realizados_id ON public.tratamientos_realizados USING btree (id);


--
-- Name: ix_tratamientos_realizados_odontologo_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_tratamientos_realizados_odontologo_id ON public.tratamientos_realizados USING btree (odontologo_id);


--
-- Name: ix_tratamientos_realizados_paciente_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_tratamientos_realizados_paciente_id ON public.tratamientos_realizados USING btree (paciente_id);


--
-- Name: ix_tratamientos_realizados_tratamiento_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_tratamientos_realizados_tratamiento_id ON public.tratamientos_realizados USING btree (tratamiento_id);


--
-- Name: ix_tratamientos_realizados_turno_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_tratamientos_realizados_turno_id ON public.tratamientos_realizados USING btree (turno_id);


--
-- Name: ix_turnos_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_turnos_id ON public.turnos USING btree (id);


--
-- Name: ix_usuarios_consultorio_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_usuarios_consultorio_id ON public.usuarios USING btree (consultorio_id);


--
-- Name: ix_usuarios_email; Type: INDEX; Schema: public; Owner: odonto
--

CREATE UNIQUE INDEX ix_usuarios_email ON public.usuarios USING btree (email);


--
-- Name: ix_usuarios_id; Type: INDEX; Schema: public; Owner: odonto
--

CREATE INDEX ix_usuarios_id ON public.usuarios USING btree (id);


--
-- Name: historias_clinicas historias_clinicas_consultorio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.historias_clinicas
    ADD CONSTRAINT historias_clinicas_consultorio_id_fkey FOREIGN KEY (consultorio_id) REFERENCES public.consultorios(id);


--
-- Name: historias_clinicas historias_clinicas_paciente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.historias_clinicas
    ADD CONSTRAINT historias_clinicas_paciente_id_fkey FOREIGN KEY (paciente_id) REFERENCES public.pacientes(id);


--
-- Name: odontogramas odontogramas_consultorio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.odontogramas
    ADD CONSTRAINT odontogramas_consultorio_id_fkey FOREIGN KEY (consultorio_id) REFERENCES public.consultorios(id);


--
-- Name: odontogramas odontogramas_paciente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.odontogramas
    ADD CONSTRAINT odontogramas_paciente_id_fkey FOREIGN KEY (paciente_id) REFERENCES public.pacientes(id);


--
-- Name: odontologos odontologos_consultorio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.odontologos
    ADD CONSTRAINT odontologos_consultorio_id_fkey FOREIGN KEY (consultorio_id) REFERENCES public.consultorios(id);


--
-- Name: pacientes pacientes_consultorio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.pacientes
    ADD CONSTRAINT pacientes_consultorio_id_fkey FOREIGN KEY (consultorio_id) REFERENCES public.consultorios(id);


--
-- Name: pagos pagos_tratamiento_realizado_fkey; Type: FK CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT pagos_tratamiento_realizado_fkey FOREIGN KEY (tratamiento_realizado_id) REFERENCES public.tratamientos_realizados(id) ON DELETE CASCADE;


--
-- Name: tratamientos_catalogo tratamientos_catalogo_consultorio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.tratamientos_catalogo
    ADD CONSTRAINT tratamientos_catalogo_consultorio_id_fkey FOREIGN KEY (consultorio_id) REFERENCES public.consultorios(id);


--
-- Name: tratamientos_realizados tratamientos_realizados_consultorio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.tratamientos_realizados
    ADD CONSTRAINT tratamientos_realizados_consultorio_id_fkey FOREIGN KEY (consultorio_id) REFERENCES public.consultorios(id);


--
-- Name: tratamientos_realizados tratamientos_realizados_odontologo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.tratamientos_realizados
    ADD CONSTRAINT tratamientos_realizados_odontologo_id_fkey FOREIGN KEY (odontologo_id) REFERENCES public.odontologos(id);


--
-- Name: tratamientos_realizados tratamientos_realizados_paciente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.tratamientos_realizados
    ADD CONSTRAINT tratamientos_realizados_paciente_id_fkey FOREIGN KEY (paciente_id) REFERENCES public.pacientes(id);


--
-- Name: tratamientos_realizados tratamientos_realizados_tratamiento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.tratamientos_realizados
    ADD CONSTRAINT tratamientos_realizados_tratamiento_id_fkey FOREIGN KEY (tratamiento_id) REFERENCES public.tratamientos_catalogo(id);


--
-- Name: tratamientos_realizados tratamientos_realizados_turno_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.tratamientos_realizados
    ADD CONSTRAINT tratamientos_realizados_turno_id_fkey FOREIGN KEY (turno_id) REFERENCES public.turnos(id);


--
-- Name: turnos turnos_consultorio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.turnos
    ADD CONSTRAINT turnos_consultorio_id_fkey FOREIGN KEY (consultorio_id) REFERENCES public.consultorios(id);


--
-- Name: turnos turnos_odontologo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.turnos
    ADD CONSTRAINT turnos_odontologo_id_fkey FOREIGN KEY (odontologo_id) REFERENCES public.odontologos(id);


--
-- Name: turnos turnos_paciente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.turnos
    ADD CONSTRAINT turnos_paciente_id_fkey FOREIGN KEY (paciente_id) REFERENCES public.pacientes(id);


--
-- Name: usuarios usuarios_consultorio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: odonto
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_consultorio_id_fkey FOREIGN KEY (consultorio_id) REFERENCES public.consultorios(id);


--
-- PostgreSQL database dump complete
--

\unrestrict VvOedDTG2VCaKpn6bZqez8hagNG9Wx8oiy56cQPkXCCw5f4Dfe2EhVgtLqovdO9

