services:
  backend:
    build: ./backend
    container_name: odontoisitec-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      - db
    restart: always

  frontend:
    build: ./frontend
    container_name: odontoisitec-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always

  db:
    image: postgres:16
    container_name: odontoisitec-db
    environment:
      POSTGRES_DB: odontoisitec
      POSTGRES_USER: odonto
      POSTGRES_PASSWORD: odonto123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
